.nav-header {
  box-shadow: 0px 10px 10px -15px #111;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 4px;
  align-items: center;
}
.cart-container {
  display: flex;
  align-items: center;
}

.logo-heading {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 35px;
  cursor: pointer;
  margin-left: 3%;
}

@media screen and (max-width: 576px) {
  .logo-heading {
    font-size: 25px;
  }
}

.my-orders-text {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  color: #585555;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0.5rem;
  display: none;
}

.cart-icon-container {
  position: relative;
  margin-right: 20px;
}

.cart-count-badge {
  position: absolute;
  top: -15px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-count {
  text-align: center;
  background-color: #ff6347;
  padding: 4px 2px 2px;
  color: #ffff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  min-width: 25px;
  border-radius: 50%;
}
.cart {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (min-width: 576px){
    .my-orders-text {
        display: block;
    }
}